<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>{{groupname}}</h1>

    <textarea id="chat-log" cols="100" rows="20">
            {{group.containt}}
    </textarea><br>

    <div class="js-data">
        {{groupname|json_script:"group_name"}}
    </div>
    <script>
        const group_name = JSON.parse(document.getElementById('group_name').textContent);
        console.log(group_name)
        var ws = new WebSocket('ws://127.0.0.1:8000/ws/ac/' + group_name + '/');

        ws.addEventListener('open', () => {
            console.log('websocket connection open....')
        })

        ws.addEventListener('message', (event) => {
            const data = JSON.parse(event.data);
            document.getElementById('chat-log').value = (data.msg);
        })

        ws.addEventListener('error', (event) => {
            console.log('websocket connection error occurred....', event)
        })

        ws.addEventListener('close', (event) => {
            console.log('websocket connection close....', event)
        })


        document.getElementById('chat-log').addEventListener('input', function (event) {
            const message = event.target.value;
            ws.send(JSON.stringify({
                'msg': message
            }));
        });


    </script>

</body>

</html>